@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Outfit', sans-serif;
  background-color: #f3e5d7;
}
.list span {
  font-weight: 600;
}

h2 {
  color: #854632;
  font-weight: 400;
  font-size: 1.75rem;
  margin-bottom: 24px;
  font-family: 'Young Serif', serif;
}
.list {
  padding-left: 20px;
}
.list li {
  margin-bottom: 8px;
  color: #5f564d;
  line-height: 1.7;
}

li {
  padding-left: 10px;
}
hr {
  border: none;
  height: 1px;
  background: #e6e1dc;
}

.container {
  max-width: 738px;
  margin: 13.5vh auto;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
}
.recipe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 2.5rem;
  font-family: 'Young Serif', serif;
  margin-bottom: 20px;
}
p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}
img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}
.name_description h1 {
  color: #312e2c;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 12px;
  margin-top: 12px;
}
.name_description p {
  color: #5f564d;
  font-size: 1rem;
}
.preparation_time {
  background-color: #fff7fb;
  padding: 22px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: 'Outfit', sans-serif;
}
.preparation_time .time {
  color: #7a284e;
  font-size: 1.25rem;
  margin-bottom: 15px;

  font-weight: 600;
}

.preparation_time ul li {
  margin-bottom: 10px;
  color: #5f564d;
  font-size: 1rem;
}
.preparation_time ul li::marker {
  color: #7a284e;
}
.instructions ol li::marker,
.ingredients ul li::marker {
  color: #854632;
  font-weight: bold;
}

.nutrition-facts {
  padding: 0 24px;
}

.row {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 14px 0;
}

.row::after {
  content: '';
  position: absolute;
  left: 40%;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background: #e6e1dc;
  transform: translateX(-50%);
}

.label {
  color: #6b625c;
  text-align: left;
}

.value {
  color: #8b3f2f;
  font-weight: 600;
  text-align: center;
}

.attribution {
  text-align: center;
  font-size: 0.875rem;
  color: #a89c94;
  margin-bottom: 30px;
}
.attribution a {
  color: #854632;
  text-decoration: none;
}
